.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.controlGroup {
  column-gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
}

.addressDetails {
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: lightgray;
  color: darkgray;
  border-color: lightgray;
  cursor: not-allowed;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .orderButton {
  font: inherit;
  cursor: pointer;
  border: 1px solid #004700;
  background-color: #004700;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .orderButton:hover,
.actions .orderButton:active {
  background-color: #038d03;
  border-color: #038d03;
  color: white;
}

.actions .cancelButton {
  font: inherit;
  cursor: pointer;
  background-color: #470000;
  border-color: #470000;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .cancelButton:hover,
.actions .cancelButton:active {
    background-color: #8b0404;
    border-color: #8b0404;
    color: white;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.invalid p {
  color: #aa0b20;
}

